@media screen and (max-width: 992px){
}


@media screen and (max-width: 800px){
}

@media screen and (max-width: 550px){
}

@media screen and (max-width: 420px) {
	video.fullscreen {
		display: none;
	}

	h1 {
		font-size: 20px;
	}

	.intro {
		height: 200px;
	}
}